version: '2'

services:
  web:
    image: lolcode:latest
    links:
      - 'postgres'
      - 'redis'
    ports:
      - '3000'
    command: "bundle exec rails server -b '0.0.0.0'"
    env_file: .env

  # sidekiq:
  #   image: lolcode:latest
  #   links:
  #     - 'postgres'
  #     - 'redis'
  #   command: 'sidekiq -C config/sidekiq.yml'
  #   env_file: .env

  postgres:
    image: 'postgres'
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
    ports:
      - '5432'
    volumes:
      - 'postgres:/var/lib/postgresql/data'

  load_balancer:
    image: 'dockercloud/haproxy:latest'
    links:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - '10000:80'

  redis:
    image: 'redis:alpine'
    command: 'redis-server'
    ports:
      - '6379'
    volumes:
      - 'redis:/data'

volumes:
  redis:
  postgres:
